/* Featured content */

.acf-block-preview .oeg-featured-block {
  pointer-events: none;
}

@media (min-width: 768px) {
  .wp-admin .oeg-featured-block {
    display: grid;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 1rem;
    gap: 1rem;
    grid-gap: 1rem;
    gap: 1rem;
  }
  .wp-admin .oeg-featured-block.two-items {
    grid-template-rows: repeat(1, minmax(0, 1fr));
  }
  .wp-admin .oeg-featured-block a {
    grid-row: auto;
    grid-column: auto;
  }
  .wp-admin .oeg-featured-block a:nth-child(1) {
    grid-row: span 2 / span 2;
    grid-column: span 2 / span 2;
  }
}

/* People */

.acf-block-preview .peoplegrid a,
.acf-block-preview .peoplegrid .card {
  pointer-events: none;
}

.peoplegrid .card {
  margin-right: 1rem;
}

/* Hero */

.wp-admin .oeg_hero.oeg_full .container {
  margin: 0 auto;
  max-width: 840px;
}

.editor-pic {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.acf-block-preview .peoplegrid .card {
  width: 30%;
}

/* Post list */

.postlist .card a,
.postlist .card {
  text-decoration: none;
  pointer-events: none;
}

.postlist .grid {
  display: grid;
  -ms-grid-columns: repeat(1, minmax(0, 1fr));
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
}
@media screen and (min-width: 768px) {
  .postlist .grid {
    -ms-grid-columns: repeat(2, minmax(0, 1fr));
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media screen and (min-width: 1024px) {
  .postlist .grid {
    -ms-grid-columns: repeat(3, minmax(0, 1fr));
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.postlist .grid .card {
  padding: 0;
  width: 100%;
}
.postlist .card .post-pic img {
  width: 100%;
  height: 188px;
}
.postlist .grid .card p {
  margin: 0.25em 0;
}
.postlist .grid .card p.title {
  font-weight: bold;
}

/* List view */
.postlist .list .card {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0;
  max-width: none;
}
.postlist .list .card a {
  color: #333333;
}
.postlist .list a.post-item-block {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  border: 0;
  background-image: none;
}
.postlist .list a.post-item-block .post-pic {
  flex: 0 1 25%;
  background: yellowgreen;
}
.postlist .list a.post-item-block .post-pic img {
  width: 100%;
  height: 100%;
}
.postlist .list a.post-item-block .inner-card {
  flex: 0 1 75%;
}
.postlist .card .post-pic img {
  object-fit: cover;
}

/* Playlist */
.acf-block-preview .oegplaylist {
  pointer-events: none;
}
