/* Featured content */

.acf-block-preview .oeg-featured-block {
  pointer-events: none;
}

@media (min-width: 768px) {
  .wp-admin .oeg-featured-block {
    display: grid;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 1rem;
    gap: 1rem;
    grid-gap: 1rem;
    gap: 1rem;
  }
  .wp-admin .oeg-featured-block.two-items {
    grid-template-rows: repeat(1, minmax(0, 1fr));
  }
  .wp-admin .oeg-featured-block a {
    grid-row: auto;
    grid-column: auto;
  }
  .wp-admin .oeg-featured-block a:nth-child(1) {
    grid-row: span 2 / span 2;
    grid-column: span 2 / span 2;
  }
}

/* People */

.acf-block-preview .peoplegrid a,
.acf-block-preview .peoplegrid .card {
  pointer-events: none;
}

.peoplegrid .card {
  margin-right: 1rem;
}

/* Hero */

.wp-admin .oeg_hero.oeg_full .container {
  margin: 0 auto;
  max-width: 840px;
}

.editor-pic {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.acf-block-preview .peoplegrid .card {
  width: 30%;
}

/* Post list */

.postlist .card a,
.postlist .card {
  text-decoration: none;
  pointer-events: none;
}

.postlist .grid {
  display: grid;
  -ms-grid-columns: repeat(1, minmax(0, 1fr));
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
}
@media screen and (min-width: 768px) {
  .postlist .grid {
    -ms-grid-columns: repeat(2, minmax(0, 1fr));
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media screen and (min-width: 1024px) {
  .postlist .grid {
    -ms-grid-columns: repeat(3, minmax(0, 1fr));
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.postlist .grid .card {
  padding: 0;
  width: 100%;
}
.postlist .card .post-pic img {
  width: 100%;
  height: 188px;
}
.postlist .grid .card p {
  margin: 0.25em 0;
}
.postlist .grid .card p.title {
  font-weight: bold;
}

/* List view */
.postlist .list .card {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0;
  max-width: none;
}
.postlist .list .card a {
  color: #333333;
}
.postlist .list a.post-item-block {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  border: 0;
  background-image: none;
}
.postlist .list a.post-item-block .post-pic {
  flex: 0 1 25%;
  background: yellowgreen;
}
.postlist .list a.post-item-block .post-pic img {
  width: 100%;
  height: 100%;
}
.postlist .list a.post-item-block .inner-card {
  flex: 0 1 75%;
}
.postlist .card .post-pic img {
  object-fit: cover;
}

/* Playlist */
.acf-block-preview .oegplaylist {
  pointer-events: none;
}


/* Testimonials */
.testimonial-slider {
  position: relative;
  width: 100%;
  padding: 1em 0 1.5em;
}
.testimonial-slider .ts-wrapper {
  max-width: 64rem;
  margin: 0 auto;
  position: relative;
}
.testimonial-slider .mySlides {
  display: block; 
  padding: 2rem 2rem 0 2rem;
  text-align: center;
}
.testimonial-slider .mySlidesContainer {
  min-height: 5rem;
  padding: 2.5rem 2.5rem 2rem 2.5rem;
  background: var(--color-secondary-turq-100);
}
.testimonial-slider .prev,
.testimonial-slider .next {
  cursor: pointer;
  position: absolute;
  top: 55%;
  margin-left: 0.5rem;
  width: 3rem;
  height: 3rem;
  margin-top: -1.875rem;
  line-height: 0.5;
  padding: 1rem;
  color: var(--color-gray-800);
  font-weight: bold;
  font-size: 2rem;
  border-radius: 50%;
  user-select: none;
  transition: 0.4s;
  background-image: none;
  background: rgba(244, 244, 244, 0.5);
}
.testimonial-slider .next {
  position: absolute;
  right: 0;
  margin-right: 0.5rem;
}
.testimonial-slider .prev:hover,
.testimonial-slider .next:hover {
  background-color: rgba(244, 244, 244, 0.8);
  background-image: none;
}
.testimonial-slider .dot-container {
  margin: 0 auto;
  text-align: center;
}
.testimonial-slider .dot {
  height: 0.5rem;
  width: 0.5rem;
  margin: 0 2px;
  background-color: var(--color-gray-300);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.4s ease;
}
.testimonial-slider .active {
  background-color: var(--color-gray-800);
}
.testimonial-slider blockquote {
  margin-top: 0;
}
.testimonial-slider blockquote p {
  padding: 0;
  margin-bottom: 0;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  color: var(--color-gray-700);
  font-style: italic;
}
.testimonial-slider blockquote p::after {
  content: "";
  display: none;
}
.testimonial-slider p.author {
  font-weight: 700;
}
.testimonial-slider img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 1em;
}